.messagebox {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

tr.left {
  color: lightgray;
  background-color: seagreen;
  text-align: left;
}

tr.right {
  color: white;
  background-color: mediumseagreen;
  text-align: right;
}

td {
  padding-top:10px;
  padding-bottom:10px;
}

.container {
    border-radius: 10px;
    background: lightgreen;
    padding: 20px;
    width: 450px;
    height: 350px;
    overflow: auto;
}
